* {
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.photo-card.gallery {
  margin-top: 20px;
  text-align: center;
  width: 300px;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;

  background-color: #4267b2;
  border-radius: 5px;
}

img {
  object-fit: contain;
}

.loadMoreBtn {
  margin: auto;
  display: block;
  margin-top: 15px;
  width: 120px;
  padding: 8px;

  border-style: none;
  background-color: #4267b2;
  color: white;
  border-radius: 5px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
